{% extends 'base.html.twig' %}

{% block title %}fiche_essais{% endblock %}

{% block body %}

    <style>
        .row.no-gutter {
            margin-left: 0;
            margin-right: 0;
        }
        .row.no-gutter [class*='col-']:not(:first-child),
        .row.no-gutter [class*='col-']:not(:last-child) {
            padding-right: 0;
            padding-left: 0;
        }
        .row > div {
            background: #ffffff;
            /*border: 1px solid;*/
        }

        .row {

            border: 0px solid;
        }

        #zoznam-container {
            border: 1px solid #d2d2d2;
            border-radius: 2rem;
            padding: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }

        textarea {
            padding: 10px;
            line-height: 1.5;
            background: white;
            width: 500px;
            height: 50px;
            resize: none;
        }


    </style>





<form id="zaznam-form">
    <div id="zoznam-container" class="container">
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1" hidden="true">Skúška č :</label>
                <input class="form-control form-control"  hidden="true" name="skuska_cislo" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1">{{ 'translate.cislo_danu' | trans }}</label>
                <input class="form-control form-control"  name="cislo_danu"  type="text" />
            </div>
            <div class="col-md-6">
                <label for="exampleInputEmail1">{{ 'translate.n_altis' | trans }}</label>
                <input class="form-control form-control"  name="n_altis" type="text" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInput">{{ 'translate.skuska_v_inom_zavode_text' | trans }}</label>
                <input class="form-control form-control"  name="skuska_v_inom_zavode_text" type="text" />
            </div>
            <div class="col-md-6">
                <select class="selectpicker" name="skuska_v_inom_zavode_select" multiple="multiple" data-live="true"  data-width="100%" title="{{ 'translate.vyberte_si_z_moznosti' | trans }}">
                    <option  value="Velizy">Velizy</option>
                    <option  value="Mulhouse"> Mulhouse</option>
                    <option  value="Poissy">Poissy</option>
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1">{{ 'translate.cislo_predchadzajucej_skusky' | trans }}</label>
                <input class="form-control form-control" name="cislo_predchadzajucej_skusky" type="text"/>
                <label for="exampleInputEmail1">{{ 'translate.nazov_dotknuteho_dielu' | trans }}</label>
                <input class="form-control form-control"  name="nazov_dotknuteho_dielu" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1">{{ 'translate.oddelenie_ziadatela' | trans }}</label>
                <input class="form-control form-control"  name="oddelenie_ziadatela" type="text" />
            </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.ziadatel_skusky' | trans }}</label>
           <input class="form-control form-control"  name="ziadatel_skusky"   type="text" />
                </div>

                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.telefon' | trans }}</label>
         <input class="form-control form-control"  name="telefon" type="text" />
             </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                   <label for="exampleInputEmail1">{{ 'translate.datum_vyplnenia' | trans }}</label>
                <input class="form-control js-datepicker" id="datetimepicker"   type="date" name="datum_vyplnenia"  type="text"/>



            </div>
            <div class="col-md-6">
                   <label for="exampleInputEmail1">{{ 'translate.realizacia_skusky' | trans }}</label>
                <input class="form-control js-datepicker"  type="date" title="REALIZACIA_SKUSKY" name="realizacia_skusky" value="" type="text"/>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
            <label for="exampleInputEmail1">{{ 'translate.vozidla' | trans }}</label>
                <select class="selectpicker" multiple data-live="true" data-width="100%" title="{{ 'translate.vyberte_si_z_moznosti' | trans }} " name="vozidla" >
                    <option></option>
                    <option value="A58">{{ 'translate.vsetky_typy' | trans }}</option>
                    <option value="A58">B6</option>
                    <option value="A58">P21</option>
                    <option VALUE="A9">A9</option>
                    <option VALUE="A58/A9">A58/A9</option>
                    <option VALUE="A9 VU">A9 VU</option>
                    <option value="A9 Auto école">A9 Auto école</option>
                    <option value="A9 POLICE">A9 POLICE</option>
                    <option value="B618">B618</option>
                </select>
            </div>



            <div class="col-md-6">
                   <label for="exampleInputEmail1">{{ 'translate.motorizacia' | trans }}</label>
                <select class="selectpicker" multiple data-live="true" data-width="100%" title="{{ 'translate.vyberte_si_z_moznosti' | trans }}" name="motorizacia" >
                    <option></option>
                    <option value="">{{ 'translate.vsetky_typy' | trans }}</option>
                    <option value="TT Essence / benzín">TT Essence / benzín</option>
                    <option value="TT Diesel">TT Diesel</option>
                </select>
            </div>


                <div class="col-sm-12">
                  <label for="exampleInputEmail1">{{ 'translate.referencia_dielu' | trans }}</label>
           <input class="form-control form-control" title="REFERENCIA_DIELU" name="referencia_dielu" type="text" />
                </div>


                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.miesto_spotreby_post' | trans }}</label>
           <input class="form-control form-control" title="MIESTO_SPOTREBY" name="miesto_spotreby_post" type="text" />
                </div>
                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.dodavatel' | trans }}</label>
                    <select  class="selectpicker" multiple data-live="true" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}" name="dodavatel" >
                        <option></option>
                        <option>hhh</option>

                    </select>
             </div>


                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.cislo_pracovneho_postupu' | trans }}</label>
           <input class="form-control form-control"  name="cislo_pracovneho_postupu" type="text" />
                </div>
                <div class="col-sm-6">
                  <label for="exampleInputEmail1">{{ 'translate.mnozstvo' | trans }}</label>
         <input class="form-control form-control" title="MNOZSTVO " name="mnozstvo" type="text" />
             </div>
             </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="exampleInputEmail1">{{ 'translate.ucastnici_skusky' | trans }}</label>
                    <select class="selectpicker"  multiple data-live="true" data-width="100%" title="Vyberte si z možnosti" name="ucastnici_skusky" >
                        <option></option>
                        <option>FER</option>
                        <option>PEI</option>
                        <option>MON</option>
                        <option>CMON</option>
                        <option>QCP</option>
                        <option>INGQ</option>

                    </select>
                </div>
                <div class="col-md-6">
                    <label for="exampleInputEmail1">{{ 'translate.ingq' | trans }}</label>
                    <select class="selectpicker" multiple data-live="true"  data-width="100%" title="V{{ 'translate.vyberte_si_z_moznosti' | trans }}" name="ingq" >
                        <option></option>
                        <option>{{ 'translate.vsetci' | trans }}</option>
                        <option>MECA</option>
                        <option>DSEE</option>
                        <option>DCHM</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label for="exampleInput">{{ 'translate.dovod_skusky' | trans }}</label>
                    <textarea id="textarea" class="form-control" name="dovod_skusky" cols="" rows=""></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="exampleInput">{{ 'translate.zmena_oproti_seriovemu_stavu' | trans }}</label>
                    <textarea id="textarea" class="form-control"  name="zmena_oproti_seriovemu_stavu" cols="" rows=""></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.zmena_sa_tyka' | trans }}</label>
                </div>

                    <div class="col-sm-6">
                    <label for="exampleInputEmail1">{{ 'translate.zmena_dielu' | trans }}</label>

                        <input type="radio" name="zmena_dielu" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                        <input type="radio" name="zmena_dielu" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                    </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">{{ 'translate.zmena_skrutkovania' | trans }}</label>
                            <input type="radio" name="zmena_skrutkovania" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                            <input type="radio" name="zmena_skrutkovania" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                         </div>


                <div class="col-sm-6">
                    <label for="exampleInputEmail1">{{ 'translate.zmena_procesu' | trans }}</label>
                    <input type="radio" name="zmena_procesu" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                    <input type="radio" name="zmena_procesu" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                </div>
                <div class="col-sm-6">
                    <label for="exampleInputEmail1">{{ 'translate.zmena_bezpecnostneho_skrutkovania' | trans }}</label>
                    <input type="radio" name="zmena_bezpecnostneho_skrutkovania" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                    <input type="radio" name="zmena_bezpecnostneho_skrutkovania" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                </div>

                    <div class="col-sm-12">
                        <label for="exampleInputEmail1">{{ 'translate.zmena_pracovneho_postupu' | trans }}</label>
                        <input type="radio" name="zmena_pracovneho_postupu" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                        <input type="radio" name="zmena_pracovneho_postupu" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                    </div>
            </div>
                     <br>
                    <label for="exampleInputEmail1">{{ 'translate.pripoj_foto_do_zalozky' | trans }} </label>
            <span>(JPEG, PNG, GIF, max 500 KB)<br>
                 <input type="file" name="fotka"><br>
            </span>
        </div>
        </div>


            <div class="row">
                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.priebeh_skusky' | trans }}</label>

                </div>

                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.pozadovany_pocet_aut' | trans }}</label>
                    <input class="form-control form-control"  name="pozadovany_pocet_aut" type="text" />
                </div>

                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.dotknute_posty_na_montazi' | trans }}</label>
                    <textarea id="textarea"  class="form-control"  name="dotknute_posty_na_montazi" cols="" rows=""></textarea>
                </div>

                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.pozadovane_kontroly' | trans }}</label>
                    <textarea id="textarea" class="form-control" name="pozadovane_kontroly" cols="" rows=""></textarea>
                </div>


                <div class="col-sm-6">
                    <label for="exampleInputEmail1">{{ 'translate.blokovat_auta_na_kontrolu' | trans }}</label>
                    <input type="radio" name="blokovat_auta_na_kontrolu" data-otazka="1" value="Áno"   > {{ 'translate.ano' | trans }}
                    <input type="radio" name="blokovat_auta_na_kontrolu" data-otazka="1" value="Nie"  > {{ 'translate.nie' | trans }}
                </div>
                <div class="col-sm-6">
                    <label for="exampleInputEmail1">{{ 'translate.pocet_aut_realizovanych' | trans }}</label>
                    <input class="form-control form-control"  name="pocet_aut_realizovanych" type="text" />
                </div>


                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_jazda' | trans }}</label>
                    <select class="selectpicker" name="skuska_jazda" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_iqf' | trans }}</label>
                    <select class="selectpicker" name="skuska_iqf" data-width="100%" title="V{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_hluk' | trans }}</label>
                    <select class="selectpicker" name="skuska_hluk" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>



                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_sprcha' | trans }}</label>
                    <select class="selectpicker" name="skuska_sprcha" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_iqa' | trans }}</label>
                    <select class="selectpicker" name="skuska_iqa" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="exampleInputEmail1">{{ 'translate.skuska_ine' | trans }}</label>
                    <input class="form-control form-control"  name="skuska_ine" type="text" />
                </div>
                </div>



            <div class="row">
                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.modernizacia_po_skuske' | trans }}</label>
                    <select class="selectpicker" name="modernizacia_po_skuske" data-width="100%" title="{{ 'translate.vyberte_si_jednu_z_moznosti' | trans }}">
                        <option>Áno</option>
                        <option>Nie</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label for="exampleInputEmail1">{{ 'translate.retus' | trans }}</label>
                    <input class="form-control form-control" title="retus" name="retus" type="text" />
                </div>
            </div>



        <br>
        <div class="col-md-12">
            <button id="home-submit-btn" class="btn btn-success" type="submit">{{ 'translate.submit' | trans }}</button>
        </div>



</div>

    </div>
    </div>


</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>


{% endblock %}